{% extends "layout2.html" %}
{% from "_macros.html" import render_flied%}
{%block container%}

<div class="container">
    <div class="row">
    <h3>Empleados</h3>
    <h4 ><a href="/index"></a>Empleado</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>email</th>
                <th>Sueldo</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
    <tbody>
        {%for emple in empleado%}
        <tr>
            <td>{{emple.nombre}}</td>
            <td>{{emple.direccion}}</td>
            <td>{{emple.telefono}}</td>
            <td>{{emple.email}}</td>
            <td>{{emple.sueldo}}</td>
            <td><a href="eliminar.html?id={{emple.id}}"
                class="btn btn-danger">Eliminar</a></td>
            <td><a href="modificar.html?id={{emple.id}}"
                    class="btn btn-warning">Modificar</a></td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
</div>

{%endblock%}