{% extends "layout2.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="container">
    <div class="row">
        <form name="sent" action="/index" id="contactForm" method="POST">
            <div class="row control-group">
                <div class="form-group col-xs-12 float-label-form-group controls">
                    {{macros.camposNuevos(form.nombre,class='form-control')}}
                </div>
            </div>
            <div class="row control- group" method="POST" novalidate>
                <div class="form-groupform-group col-xs-12 floating-label-form-group ontrols">
                    {{macros.camposNuevos(form.direccion,class='form-control')}}
                </div>
            </div>

            <div class="row control- group" >
                <div class="form-groupform-group col-xs-12 floating-label-form-group ontrols">
                    {{macros.camposNuevos(form.telefono,class='form-control')}}
                </div>
            </div>
            
            <div class="row control- group" >
                <div class="form-groupform-group col-xs-12 floating-label-form-group ontrols">
                    {{macros.camposNuevos(form.email,class='form-control')}}
                </div>
            </div>

            <div class="row control- group" >
                <div class="form-groupform-group col-xs-12 floating-label-form-group ontrols">
                    {{macros.camposNuevos(form.sueldo,class='form-control')}}
                </div>
            </div>

            <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
            <input type="submit" id="send-signup" name="signup" value="Registrar"/>
    
        </form>
    </div>
</div>
{%endblock%}